h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'NanumSquare' , san-serif;
  color: red;
   letter-spacing: -0.05em;
}  /* ; 붙이는건 먼저 우선 적용하라는 거 */
p.subtitle  {
  font-family: 'Noto Sans KR', sans-serif;
}
.main-text {
 font-weight: 200;
 font-size: 20px;
 text-align: justify;
 letter-spacing: -0.05em;
 word-spacing: 1.0em;
 line-height: 1.3em; 
/* line-height가 마이너스로 가면 줄어든다.. 1.3 정도 주면 사용자의 체류시간이 비슷해짐 */
}

.main-wrapper {
 width: 500px; 
 margin: 0 auto;  /* auto는 남는 값을 나눠 가지라는 뜻 */
}

.div-pad { 
  padding: 15px 30px 40px 50px;  
}

.div-margin {
  margin: 10px
}

.box-a {
  width: 100px;
  height: 100px;
  background-color: red;
  display: inline-block;
}
.box-b {
  width: 100px;
  height: 100px;
  background-color: green;
  display: inline-block;
}
.box-c {
  width: 100px;
  height: 100px;
  background-color: blue;
  display: inline-block;
}

/*
* css flex
*/

.content-wrapper{
  display: flex;
  flex-direction: column;
}


.flex-a {
  width:300px
  height:100px
  background-color : red;
}
.flex-b {
  width:300px
  height:100px
  background-color : green;
}
.flex-c {
  width:300px
  height:100px
  background-color : blue;
}